{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = site.github.url | default: custom_url %}

<table align="right">
  <tr>
    <td>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
      <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/mrjoshuap" data-format="inline" data-related="false"></script>
    </td>
  </tr>
  <tr>
    <td>
      <a href="//www.redhat.com/rhtapps/certification/badge/verify/H5CHJJE2GVH7HW3FDPLWB32VL4AEQU3CUPSQX2KSDXT6RW46LQ37ULE25V3KCXMMFRIX6PMBNQZGA4U5NQYTCNA62RUWOCM34WWBUYQ=" target="_blank"><img src="/assets/images/RH_CertifiedSysAdmin_RGB.png" alt="Red Hat Certified System Administrator" width="120" height="150" /></a>
      <a href="//www.redhat.com/rhtapps/certification/badge/verify/H5CHJJE2GVH7HW3FDPLWB32VL4AEQU3CUPSQX2KSDXT6RW46LQ3VFS7LTHTMYXYXRZARNID6YKBDE4U5NQYTCNA62RUWOCM34WWBUYQ%3D/" target="_blank"><img src="/assets/images/RH_CertifiedEngineer_RGB.png" alt="Red Hat Certified Engineer" width="120" height="150" /></a>
      <a href="//ipv6.he.net/certification/scoresheet.php?pass_name=mrjoshuap" target="_blank"><img src="//ipv6.he.net/certification/create_badge.php?pass_name=mrjoshuap&badge=1" style="border: 0; width: 128px; height: 128px" alt="IPv6 Certification Badge for mrjoshuap" /></a>
    </td>
  </tr>
</table>
