<table align="right">
  <tr>
    <td>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
      <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/mrjoshuap" data-format="inline" data-related="false"></script>
    </td>
  </tr>
  <tr>
    <td>
      <a href="https://www.redhat.com/rhtapps/verify/?certId=150-093-623" target="_blank"><img src="{{ site.url }}/assets/RH_CertifiedSysAdmin_RGB.png" alt="Red Hat Certified System Administrator" /></a>
      <a href="https://www.redhat.com/rhtapps/verify/?certId=150-093-623" target="_blank"><img src="{{ site.url }}/assets/RH_CertifiedEngineer_RGB.png" alt="Red Hat Certified Engineer" /></a>
      <a href="//ipv6.he.net/certification/scoresheet.php?pass_name=mrjoshuap" target="_blank"><img src="//ipv6.he.net/certification/create_badge.php?pass_name=mrjoshuap&badge=1" style="border: 0; width: 128px; height: 128px" alt="IPv6 Certification Badge for mrjoshuap" /></a>
    </td>
  </tr>
</table>
